@charset "UTF-8";
.bg-gray {
  background-color: #6c757d;
}

.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.75rem;
}

.fs-9 {
  font-size: 0.688rem;
}

.fw-medium {
  font-weight: 500 !important;
}

.h-16 {
  height: 16px;
}

.h-20 {
  height: 20px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-20 {
  margin-bottom: 1.25rem !important;
}

.mb-30 {
  margin-bottom: 1.875rem !important;
}

.m-h-auto {
  min-height: auto;
}

.t-22 {
  top: 22px !important;
}

.w-300 {
  max-width: 300px;
}

@media screen and (max-width: 800px) {
  .w-300 {
    max-width: 260px;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 800px;
}

@media screen and (max-width: 1024px) {
  .login-frame {
    width: 90%;
  }
}

.login-frame.forgot-frame {
  width: 480px;
}

.login-frame.forgot-frame h1 {
  font-size: 1.375rem;
  font-weight: 700;
}

.login-frame.forgot-frame .btn {
  line-height: 35px;
}

.login-frame h1 {
  font-size: 1.125rem;
}

@media screen and (max-width: 800px) {
  .login-frame h1 {
    padding-right: 20px;
  }
}

.login-frame .fas {
  font-size: 0.875rem;
}

.login-frame .form-control {
  font-size: 0.875rem;
  height: 45px;
  font-size: 0.875rem;
  padding: 0.75rem 0.938rem 0.75rem 2.625rem;
  background-color: #f5f7fa;
}

.login-frame .input-icon {
  left: 15px;
  top: 11px;
}

.login-frame .form-check .form-check-input {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.125rem;
}

.login-frame .form-check .form-check-label {
  font-size: 0.813rem;
  padding-left: 8px;
}

.login-frame .forgot-text {
  font-size: 0.813rem;
  color: #8d97ad;
}

.login-frame .forgot-text:hover {
  color: #08b4ec;
}

.login-frame .btn {
  width: 90px;
  height: 35px;
  padding: 0 0.75rem;
  line-height: 34px;
}

.login-frame p {
  font-size: 0.813rem;
}

@media screen and (max-width: 800px) {
  .login-frame p {
    padding: 0 10px;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 20px;
  }
}

.dashboard-header {
  height: 50px;
  padding: 8px 30px 7px;
  z-index: 101;
  font-size: 0.75rem;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.dashboard-header .search-form {
  width: 270px;
  height: 30px;
  padding-right: 30px;
}

.dashboard-header .search-form .form-control {
  height: 30px;
  font-size: 0.75rem;
  border-radius: 3px 0 0 3px;
}

.dashboard-header .search-form .search-icon {
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 0.813rem;
  line-height: 30px;
  color: #fff;
  background-color: #08b4ec;
  border-radius: 0 3px 3px 0;
}

.dashboard-header .profile-frame .profile-content h2 {
  font-size: 0.75rem;
  color: #444;
}

@media screen and (max-width: 1024px) {
  .dashboard-header .profile-frame .profile-content {
    display: none;
  }
}

.dashboard-header .profile-frame .dropdown-toggle:after {
  content: none;
}

.dashboard-header .profile-frame .dropdown-toggle:hover {
  cursor: pointer;
}

.dashboard-header .profile-frame .dropdown-menu.show {
  -webkit-transform: translate(0px, 42px) !important;
          transform: translate(0px, 42px) !important;
}

@media screen and (max-width: 1024px) {
  .dashboard-header .profile-frame .dropdown-menu.show {
    left: auto !important;
    right: 0 !important;
  }
}

.dashboard-header .profile-frame .dropdown-menu.show li + li {
  border-top: 1px solid #E9EDF1;
}

.navbar {
  -webkit-transition: position 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: position 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: position 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  transition: position 0.25s ease-in-out, box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

.navbar.navbar-stick {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background-color: #f5f7fa;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.13);
}

.navbar.navbar-stick .main-menu {
  margin-top: 1px;
}

.navbar .main-menu {
  width: 100%;
  padding: 0 1.875rem;
  border-bottom: 2px solid #E9EDF1;
  height: 45px;
  margin-top: 1px;
}

.navbar .main-menu li {
  list-style: none;
  font-size: 0.875rem;
}

.navbar .main-menu li a {
  height: 45px;
  text-decoration: none;
  display: block;
  line-height: 46px;
  color: #878787;
  position: relative;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.navbar .main-menu li a:hover {
  color: #262937;
}

.navbar .main-menu li a::before, .navbar .main-menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}

.navbar .main-menu li a::before {
  top: 0;
  background-color: #262937;
}

.navbar .main-menu li a::after {
  bottom: -1px;
  background-color: #262937;
}

.navbar .main-menu li a:hover:before, .navbar .main-menu li a:hover:after {
  width: 100%;
}

.navbar .main-menu li a span {
  color: #e45757;
}

.navbar .main-menu li.active a {
  font-weight: 500;
  color: #08b4ec;
  border-color: #08b4ec;
}

.navbar .main-menu li.active a::before {
  width: 100%;
  background-color: #08b4ec;
}

.navbar .main-menu li.active a::after {
  width: 100%;
  background-color: #08b4ec;
}

.navbar .main-menu li + li {
  margin-left: 30px;
}

@media screen and (max-width: 1199px) {
  .navbar {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 5px !important;
  }
  .navbar .main-menu {
    width: 1170px;
    margin-top: 2px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.dashboard-card .card-header {
  padding: 8px 15px 7px;
  min-height: 42px;
}

.dashboard-card .card-header.task-card-header h2 {
  font-size: 0.75rem;
  font-weight: 400;
}

.dashboard-card .card-header.task-card-header h2 span {
  font-weight: 500;
}

.dashboard-card .card-header h2 {
  font-size: 0.875rem;
  font-weight: 400;
}

.dashboard-card .card-body.space40 {
  padding: 1.875rem 0.938rem;
}

.dashboard-card .card-body .count-name {
  color: #878787;
  font-size: 0.875rem;
  font-weight: 400;
}

.dashboard-card .card-body .count {
  font-size: 1.125rem;
  color: #262937;
}

.dashboard-card .calendar-week h6 {
  font-size: 0.875rem;
  color: #262937;
  margin-bottom: 20px;
}

.dashboard-card .calendar-week p {
  font-size: 0.875rem;
  width: 25px;
  height: 25px;
  line-height: 24px;
  margin: 0 auto;
}

.dashboard-card .calendar-week p.past-date {
  color: #8d97ad;
}

.dashboard-card .calendar-week p.current-date {
  color: #fff;
  text-align: center;
  background-color: #08b4ec;
}

.dashboard-card .calendar-week p.upcoming-date {
  color: #262937;
}

.dashboard-card .calendar-week .past-date {
  color: #dfdfdf;
}

.dashboard-card .line-seprator {
  margin-left: -15px;
  margin-right: -15px;
}

.dashboard-card .task-card {
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

.dashboard-card .task-card a .task-text {
  font-size: 0.75rem;
  color: #8d97ad;
}

.dashboard-card .task-card a .date-time {
  font-size: 0.75rem;
  color: #8d97ad;
}

.dashboard-card .task-card:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.dashboard-card .task-card + .task-card {
  margin-top: 20px;
}

.dashboard-card .indicators h6 {
  font-size: 0.875rem;
  font-weight: 400;
  color: #ABABAB;
}

.dashboard-card .indicators p {
  font-size: 0.813rem;
  color: #262937;
}

.dashboard-card .indicators p span {
  vertical-align: middle;
}

.dashboard-card .indicators p span.dot {
  width: 10px;
  height: 10px;
}

.dashboard-card .indicators .count {
  font-size: 1.125rem;
  font-weight: 600;
  color: #262937;
}

.sort-view {
  height: 28px;
  width: 120px;
}

.sort-view .form-select {
  height: 28px;
  padding: 4px 10px 6px;
  font-size: 0.75rem;
  border-color: #d8e2ef;
  border-radius: 3px;
}

.current-day {
  font-size: 0.875rem;
  font-weight: 500;
}

.task-card {
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

.task-card.task-sale-card {
  background-color: #f8fbff;
}

.task-card a {
  display: block;
  color: #8d97ad;
  padding: 15px;
  position: relative;
  text-decoration: none;
}

.task-card a h2 {
  font-size: 0.875rem;
}

.task-card a h6 {
  font-size: 0.813rem;
  font-weight: 400;
  margin-bottom: 6px;
}

.task-card a p {
  font-size: 0.75rem;
}

.task-card a .badge {
  min-width: 60px;
  height: 20px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  border-radius: 3px;
}

.task-card:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.task-card + .task-card {
  margin-top: 20px;
}

.add-btn {
  right: 15px;
  top: 7px;
}

.add-btn .btn {
  font-size: 13px;
  padding: 3px 8px;
}

.note-listing h6 {
  font-size: 0.75rem;
  margin-bottom: 0px;
}

.note-listing span, .note-listing p {
  font-size: 11px;
  color: #8d97ad;
  margin-bottom: 0px;
}

.site-footer {
  padding: 15px 30px;
  color: #262937;
}

.notificaation {
  position: fixed;
  bottom: 0px;
  right: 15px;
  z-index: 501;
  height: 40px;
  padding: 12px 15px;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.3);
  border: solid 1px #f5c2c7;
  background-color: #f8d7da;
  color: #842029;
}

.floating-btn {
  position: fixed;
  bottom: 55px;
  right: 15px;
  z-index: 500;
}

.floating-btn .floating-label {
  width: 50px;
  height: 50px;
  line-height: 48px;
  background-color: #08b4ec;
  -webkit-box-shadow: 0 0 5px 0 rgba(17, 182, 236, 0.6);
          box-shadow: 0 0 5px 0 rgba(17, 182, 236, 0.6);
  -webkit-animation: bot-to-top 2s ease-out;
          animation: bot-to-top 2s ease-out;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.floating-btn .floating-label.open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.floating-btn .floating-label.open + .floating-child {
  visibility: visible;
  -webkit-animation: scale-in 0.5s;
          animation: scale-in 0.5s;
}

.floating-btn .floating-child {
  position: fixed;
  right: 15px;
  bottom: 105px;
  z-index: 100;
  visibility: hidden;
}

.floating-btn .floating-child li {
  list-style: none;
  margin-bottom: 10px;
}

.floating-btn .floating-child li a {
  width: 50px;
  height: 50px;
  line-height: 48px;
  background-color: #08b4ec;
  -webkit-box-shadow: 0 0 5px 0 rgba(17, 182, 236, 0.6);
          box-shadow: 0 0 5px 0 rgba(17, 182, 236, 0.6);
}

.floating-btn .floating-child:hover {
  visibility: visible !important;
  opacity: 1 !important;
}

@-webkit-keyframes bot-to-top {
  0% {
    bottom: -40px;
  }
  50% {
    bottom: 40px;
  }
}

@keyframes bot-to-top {
  0% {
    bottom: -40px;
  }
  50% {
    bottom: 40px;
  }
}

@-webkit-keyframes scale-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.modal-body .form-check .form-check-input {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.125rem;
}

.modal-body .form-check .form-check-label {
  font-size: 0.813rem;
  padding-left: 8px;
}

.modal-body .form-check.form-radio {
  min-height: 1rem;
  height: 1rem;
}

.modal-body .form-check.form-radio .form-check-input {
  width: 1rem;
  height: 1rem;
  margin-top: 0;
}

.modal-body .form-check.form-radio .form-check-label {
  vertical-align: top;
  line-height: 16px;
  padding-left: 3px;
}

.modal-body .form-group h5 {
  font-size: 0.875rem;
}

.modal-body .form-group h5 span {
  border-bottom-color: #262937 !important;
}

.modal-footer .btn {
  padding: 0.438rem 0.938rem;
  font-size: 0.813rem;
  font-weight: 400;
  width: 90px;
}

.search-filters .btn {
  height: 40px;
  font-size: 0.813rem;
  line-height: 28px;
}

.search-filters .btn.btn-icon {
  width: 40px;
}

.form-floating .form-icon {
  position: absolute;
  right: 10px;
  top: 12px;
  z-index: 2;
  font-size: 0.75rem;
  color: #ABABAB;
}

.nav-item {
  margin-left: 1.875rem;
}

.tab-pane {
  padding: 0.938rem;
  margin-bottom: 5px;
}

.filter-listing {
  font-size: 0.75rem;
  color: #8d97ad;
}

.filter-listing .form-check {
  min-height: auto;
  font-size: 1rem;
}

.filter-listing .form-check .form-check-label {
  font-size: 0.75rem;
}

.filter-listing a {
  text-decoration: none;
  color: #8d97ad;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.filter-listing a:hover {
  color: #262937;
}

.lead-status {
  font-size: 0.688rem;
  font-weight: 400;
}

.lead-status.hot {
  color: #fe7968;
}

.lead-status.cold {
  color: #0dbbdf;
}

.title-arrow {
  color: #262937;
  font-weight: 400;
}

.title-arrow a {
  color: #ABABAB;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.title-arrow a:hover {
  color: #262937;
}

.title-arrow .parent-page {
  font-size: 0.75rem;
  font-weight: 400;
  color: #878787;
}

.form-section-title {
  font-size: 0.875rem;
}

.form-section-title .form-check {
  min-height: 0;
}

.form-section-title .form-check .form-check-input {
  width: 1rem;
  height: 1rem;
  margin-top: 0.125rem;
}

.form-section-title .form-check .form-check-label {
  font-size: 0.813rem;
  padding-left: 8px;
  color: #6c757d;
  font-weight: 400;
}

.form-footer .btn {
  min-width: 120px;
}

.card-header.space {
  padding: 8px 15px;
}

.card-header.space .add-btn {
  top: 11px;
}

.info-details {
  font-size: 0.813rem;
  color: #262937;
}

.info-details h3 {
  font-size: 0.813rem;
}

.step-status .steps {
  height: 40px;
  cursor: pointer;
  color: #ABABAB;
  line-height: 40px;
  min-width: 140px;
  padding: 0 10px;
  border-radius: 0;
  margin-left: -8px;
  text-align: center;
  font-size: 0.875rem;
  background-color: #dfdfdf;
  -webkit-clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
          clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
}

.step-status .steps:first-child {
  border-radius: 20px 0 0 20px;
  -webkit-clip-path: polygon(0% 0%, 85% 0, 100% 50%, 85% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 85% 0, 100% 50%, 85% 100%, 0% 100%);
}

.step-status .steps:last-child {
  border-radius: 0 20px 20px 0;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
          clip-path: polygon(100% 0, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
}

.step-status .steps.success {
  background-color: #00d27a;
  color: #fff;
}

.step-status .steps.working {
  background-color: #262937;
  color: #fff;
}

@media screen and (max-width: 1060px) {
  .step-status .steps {
    min-width: 130px;
  }
}

.step-status .btn {
  font-size: 0.813rem;
  padding: 10px ​0 0.75rem 9px;
}

.table.icon-table td {
  padding: 5px 0.938rem 4px;
}

.table th {
  height: 40px;
  padding: 9px 0.938rem;
  font-weight: 500;
  font-size: 0.875rem;
  background-color: #f8f8f8;
  border-bottom-width: 2px;
  border-bottom-color: #ddd !important;
}

.table td {
  font-size: 0.75rem;
  font-weight: 400;
  color: #8d97ad;
  vertical-align: middle;
}

.table td .badge {
  min-width: 60px;
  height: 20px;
  font-weight: 400;
  font-size: 0.688rem;
  padding: 0 0.5rem;
  line-height: 20px;
}

.table td .btn {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.table td .btn i {
  color: #747474;
  font-size: 0.813rem;
  -webkit-transition: color 0.25 ease-in-out;
  transition: color 0.25 ease-in-out;
}

.table td .btn:hover i {
  color: #262937;
}

.table-pagination {
  font-size: 0.875rem;
}

.account-check .form-check-input {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.125rem;
}

.account-check .form-check-label {
  font-size: 0.813rem;
  padding-left: 8px;
}

.nav-tabs.inner-nav-tabs .nav-link {
  margin-left: 1.875rem;
  padding: 11px;
  font-size: 0.813rem;
}

.nav-tabs.inner-nav-tabs .nav-link.active {
  background-color: #f8f8f8;
  border-bottom-color: #f8f8f8;
}

.nav-tabs.inner-nav-tabs .nav-link:hover {
  color: #262937;
}

.nav-tabs.inner-nav-tabs .nav-link:focus {
  border-bottom-color: #f8f8f8;
}
/*# sourceMappingURL=style.css.map */